<%- include ../header %>
<%- include ex_nav %>
<div class="bs_container bs_examadd_container">
	<div class="bs_one_block">
		<div class="bs_one_block_title bs_examadd_block_title">
			<select class="bs_select bs_exam_select">
				<option value="0">SCHEDULE</option>
				<option value="1">PAPER</option>
				<option value="2">EXPERIECE</option>
				<option value="3">LINKS</option>
			</select>
			<label>&nbsp;&nbsp;Select the article type</label>
		</div>
		<div class="bs_one_block_content">
			<input type="text" class="bs_input_text bs_examadd_title" placeholder="TITLE">
			<textarea name="name" class="edittable" id="edittable" placeholder="CONTENT"></textarea>
		</div>
		<div class="bs_one_block_foot bs_examadd_block_foot">
			<input type="button" class="bs_input_button bs_examadd_input" value="SUBMIT">
			<span class="bs_msg_red"></span>
		</div>
	</div>
</div>
<script type="text/javascript">
seajs.use("/javascripts/examinee/src/addpage.js");
</script>
<%- include ../footer %>