<div class="header">
	<div class="open_menu_t" data-check="1">
		<a href="http://mobile.tecclass.cn/examinee/">
			<img src="http://mobile.tecclass.cn/images/home.png">
		</a>
	</div>
	<p><%=title %></p>
	<div class="back_right">
		<a href="javascript:history.go(-1);" >
			<img src="http://mobile.tecclass.cn/images/right.png">
		</a>
	</div>
</div>
<script type="text/javascript">
	seajs.config({
		base:"/sea-modules/",
		alias:{
			"jquery":"jquery/jquery/1.10.1/jquery.js",
			"jquery-easing":"jquery/easing/1.3.0/easing.js"
		}
	});
	seajs.use("/javascripts/examinee/src/ex_nav.js");
</script>