<%- include ../header %>
<%- include ex_nav %>
<div class="bs_container bs_examadmin_container">
	<div class="bs_one_block bs_examadmin_block">
		<div class="bs_one_block_title bs_examadmin_block_title">
			<h1>管理员登陆</h1>
		</div>
		<div class="bs_one_block_content bs_examadmin_block_content">
			<input type="text" placeholder="email" class="bs_input_text bs_exam_email"><br>
			<input type="password" placeholder="password" class="bs_input_text bs_exam_password"><br>
			<input type="button" value="login" class="bs_input_button bs_exam_login"> <span class="bs_l_msg"></span>
		</div>
	</div>
</div>
<script type="text/javascript">
seajs.use("/javascripts/examinee/src/admin.js");
</script>
<%- include ../footer %>