<div class="bs_i_comment">
	<div class="bs_i_c_input">
		<input type="text" placeholder="comment" class="bs_i_c_comment">
		<input type="button" value="SUBMIT" class="bs_i_c_submit">
		<input type="button" value="U" class="bs_i_c_up" data-now = "0">
	</div>
	<div class="bs_i_c_content">
		<ul>
			<li id="c_1">hello</li>
			<li id="c_2">next</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
seajs.use("/javascripts/comment/src/comment.js");
</script>