<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		
		<title><%=title%></title>
		<link rel="stylesheet" type="text/css" media="screen and (max-width:600px)" href="/stylesheets/style.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width:600px)" href="/stylesheets/style.css" />
		<script type="text/javascript" src="/javascripts/globe/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
	</head>
	<body>
	
