<div class="main_personal">
	<% if(user) {%>
		<div class="main_p_content">
			<div class="main_p_head">
			</div>
			<div class="main_p_detail">
				<p class="main_p_title"><%=user.username%></p>
				<p class="main_p_mail"><%=user.email%></p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="main_p_block">
			<p class="main_p_b_nav">MAP</p>
			<div class="main_p_b_content">
				<a href="/">
					<input type="button" class="bs_input_button" value="INDEX">
				</a>
				<a href="/post">
					<input type="button" class="bs_input_button" value="POST">
				</a>
				<a href="/plan">
					<input type="button" class="bs_input_button" value="PLAN">
				</a>
				<a href="/clock">
					<input type="button" class="bs_input_button" value="CLOCK">
				</a>
				<a href="/user/<%=user.id%>">
					<input type="button" class="bs_input_button" value="PERSONAL">
				</a>
				<a href="/examinee/">
					<input type="button" class="bs_input_button" value="EXAMINEE">
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<a href="/logout" class="main_p_logout">logout</a>
		<div class="clear"></div>
	<% } else {%>
		<div class="main_p_content">
			<div class="main_p_head">
			</div>
			<div class="main_p_detail">
				<p class="main_p_title">GHOST</p>
				<!-- <p class="main_p_mail"></p> -->
			</div>
			<div class="clear"></div>
		</div>
		<a href="/frontpage" class="main_p_logout">login</a>
		<div class="clear"></div>
	<% } %>
	
</div>