/*custom css*/
* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #E3E3E3;
	font-family: '微软雅黑',verdana,Sans-Serif;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}


a {
  color: #00B7FF;
  text-decoration: none;
}
/*block css*/
.bs_one_block {
	position: relative;
	width: 95%;
	margin: 0 auto;
}
.bs_one_block_title {
	position:relative;
	width: 100%;
}
.bs_one_block_content {
	position: relative;
}
.bs_one_block_foot {
	position: relative;
	width: 100%;
}
/*input css*/
.bs_input_text {
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3;
	padding: 5px 10px;
	color: gray;
}
.bs_input_text:hover {
	border-color: #3592DD;
}
.bs_input_button {
	border-width: 0px;
	background-color: #3592DD;
	color: #FFF;
	margin-right: 10px;
	cursor: pointer;
	padding: 3px 5px;
	font-size: 16px;
}
.bs_select {
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3;
	/*padding: 5px 10px;*/
	padding-top: 5px;
	color: gray;
	text-align: center;
	/*overflow: hidden;*/
}
.bs_select:hover {
	border-color: #3592DD;
}
.bs_select option {
	padding: 3px 10px;
	color: gray;
}
/*common ul css*/
.bs_one_block_ul li {
	padding-top: 2px;
	padding-bottom: 2px;
}
/*.bs_one_block_ul li:hover {
	background-color: #00B7FF;
}*/
.bs_one_block_ul li a{
	display: block;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.bs_one_block_ul li a:hover {
	background-color: #00B7FF;
	color: white;
}
.time {
	position: relative;
    text-align: center;
    width:100%;
    font-family: "Book Antiqua",Palatino,serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #333;
    /*position:absolute;*/
}
/*.time em {
    background: white;
    position: absolute;
    top: 5px;
    left: 130px;
    height: 18px;
    width: 140px;
    opacity: 0.4;
}*/
/*end common ul css*/
.bs_msg_red {
	color: red;
}
.clear {
	clear:both;
}
/*end common*/
.bs_frontpage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3592DD;
	overflow: hidden;
}
.bs_frontpage .bs_welcome {
	text-align: center;
	position: relative;
	margin: 0 auto;
	margin-top: 40%;
	color: white;
	width: 100%;
}
.bs_frontpage .bs_w_p1 {
	font-size: 36px;
	margin-bottom: 20px;
	text-shadow:0 2px 3px #000;
	color: #fff;
}
.bs_frontpage .bs_w_p2 input{
	font-size: 16px;
	border-width: 0;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #71BC22;
	color: white;
	/*display: none;*/
}
.firstselect {
	display: none;
}
#iamlearn,#iamexaminee {
	font-size: 16px;
	border-width: 0;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #71BC22;
	color: white;
}
#iamlearn {
	margin-top: 5%;
	margin-bottom: 5%;
}
#iamexaminee {
	margin-top: 5%;
}
#selector {

}
.bs_frontpage .bs_f_footer {
	position: absolute;
	bottom:10px;
	width: 100%;
	height: 20px;
	text-align: right;
	color: white;
}
.bs_frontpage .bs_f_footer p {
	margin-right: 20px;
	font-size: 12px;
}
.bs_frontpage .bs_f_op {
	position: relative;
	margin-top: 30%;
	width: 100%;
	/*height: 40px;*/
	/*background-color: blue;*/
	display: none;
	text-align: center;
}
.bs_f_op .bs_msg {
	display: block;
	width: 60%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: left;
	color: red;
}
.bs_f_op #bs_op_reg {
	display: none;
}
.bs_f_op .bs_u_email {
	width: 60%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	text-shadow:1px 1px 0 #fff;
	/*box-shadow: -1px -1px 0 #000;*/
	/*-moz-box-shadow:-1px -1px 0 #000;
	-webkit-box-shadow:-1px -1px 0 #000;*/
	background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef));
	background: -moz-linear-gradient(top,#ffffff,#efefef);
	margin-bottom: 10px;
}
.bs_f_op .bs_u_password {
	width: 60%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	text-shadow:1px 1px 0 #fff;
	/*box-shadow: -1px -1px 0 #000;*/
	/*-moz-box-shadow:-1px -1px 0 #000;
	-webkit-box-shadow:-1px -1px 0 #000;*/
	background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef));
	background: -moz-linear-gradient(top,#ffffff,#efefef);
	margin-bottom: 10px;
}
.bs_f_op .bs_u_username {
	margin: 0 auto;
	width: 60%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	text-shadow:1px 1px 0 #fff;
	/*box-shadow: -1px -1px 0 #000;*/
	/*-moz-box-shadow:-1px -1px 0 #000;
	-webkit-box-shadow:-1px -1px 0 #000;*/
	background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef));
	background: -moz-linear-gradient(top,#ffffff,#efefef);
	margin-bottom: 10px;
	display: none;
}
.bs_f_op .bs_login {
	margin-top: 10px;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	background-color: #71BC22;
	/*background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#71BC22));
	background: -moz-linear-gradient(top,#71BC00 0%,#71BC22 50%,#71BC00 100%);*/
	color: white;
}
.bs_f_op .bs_login:active {
	color: rgba(0,0,0,1);
}
.bs_f_op .bs_reg {
	margin-top: 10px;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	margin-left: 10px;
	background-color: white;
	color: rgba(0,0,0,0.4);
}
.bs_f_op .bs_reg:active {
	color: rgba(0,0,0,1);
}
.bs_front_top {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	background-color: #3592DD;
	/*display: none;*/
}
.header {
	position:fixed; 
	z-index:21;
	top:0; left:0;
	width:100%;
	height:45px;
	line-height:45px;
	background-color: #3592DD;
	/*background-color:#d51875;*/
	/*background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fe96c9), color-stop(0.05, #d51875), color-stop(1, #7b0a2e));
	background-image:-moz-linear-gradient(top, #3592DD, #3592DD);
	background-image:-o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);*/
	padding:0;
	color:white;
	font-size:20px;
	text-align:center;
}
.header .open_menu {
	position: absolute;
	left: 5px;
	top: -8px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.header .open_menu img {
	width: 100%;
	height: 100%;
}
.header .open_menu_t {
	position: absolute;
	left: 5px;
	top: 0;
	width: 45px;
	height: 45px;
	cursor: pointer;
}
.header .open_menu_t img {
	width: 100%;
	height: 100%;
}
.header .back_right {
	position: absolute;
	right: 5px;
	top: -8px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.header .back_right img {
	width: 100%;
	height: 100%;
}
#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:0; left:0;
	width:100%;
	/*background:#aaa;*/
	background-color: #E3E3E3;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:auto;
	line-height:40px;
	/*border-bottom:1px solid #ccc;*/
	/*border-top:1px solid #fff;*/
	/*background-color:#fafafa;*/
	font-size:14px;
	margin-bottom: 10px;
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.3);*/
}
#scroller li .bs_i_username {
	float: left;
	width: 20%;
	margin-top: 10px;
	/*height: 20px;*/
	
}
#scroller li .bs_i_username p {
	background-color: white;
	color: black;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}
#scroller li .bs_i_a {
	color: #000;
	text-decoration: none;
}
#scroller li .bs_i_post {
	position: relative;
	margin: 0 auto;
	width: 95%;
	padding:5px;
	margin-top: 10px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#scroller li .bs_i_post .bs_ip_t {
	font-size: 24px;
	text-align: center;
	margin-left: 60px;
}
#scroller li .bs_i_post .bs_ip_c {
	font-size: 16px;
}
#scroller li .bs_i_post .bs_ip_author {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #3592DD;
	color: white;
	padding: 0 10px;
	font-size: 20px;
}
#myFrame {
	position:absolute;
	top:0; left:0;
}

/*container common css*/
.bs_container {
	width: 100%;
	margin: 0 auto;
	height: auto;
}
#bs_con_post {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	background-color: #E3E3E3;
}
.bs_p_title {
	margin: 0 auto;
	width: 90%;
	height: 50px;
	margin-top: 25%;
	/*background-color: blue;*/
}
.bs_p_title .bs_p_title_t {
	border-width: 0;
	height: 30px;
	width: 50%;
	font-size: 20px;
	padding: 5px 10px;
}
.bs_p_title .bs_p_title_t:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #3592DD;
}
.bs_p_content {
	margin: 0 auto;
	width: 90%;
	height: 40%;
	margin-top: 10%;
}
.bs_p_content .bs_p_con_t {
	width: 90%;
	height: 100%;
	max-width: 90%;
	max-height: 100%;
	resize:none;
	border-width: 0;
	padding: 10px;
	font-size: 20px;
}
.bs_p_content .bs_p_con_t:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #3592DD;
}
.bs_b_list {
	margin: 0 auto;
	width: 90%;
	height: 10%;
	margin-top: 15%;
	/*background-color: blue;*/
}
.bs_b_list input {
	border-width: 0;
	background-color: #3592DD;
	color: white;
	margin-right: 10px;
	cursor: pointer;
	padding: 3px 5px;
	font-size: 16px;
}
.bs_b_list .bs_l_msg {
	color: #F02E2E;
}

/*left main*/
.main_personal {
	position: fixed;
	width: 100%;
	left: 0;
	top: -300px;
	/*height: 300px;*/
	background-color: white;
	z-index: 20;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
}
.main_p_content {
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding: 10px 2px;
}
.main_p_head {
	float: left;
	width: 80px;
	height: 80px;
	background-color: gray;
}
.main_p_detail {
	float: left;
	width: 60%;
}
.main_p_title {
	font-size: 32px;
	opacity: 0.5;
	margin-left: 15%;
}
.main_p_mail {
	opacity: 0.5;
	margin-left: 15%;
	margin-top: 5px;
}
.main_p_block {
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: auto;
}
.main_p_b_nav {
	width: 100%;
	/*height: 24px;*/
	/*background-color: gray;*/
	font-size: 24px;
	color: gray;
}
.main_p_b_content {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	/*height: 30px;*/
}
.main_p_b_content a {
	float: left;
	margin-bottom: 10px;
	margin-right: 5px;
}
.main_p_b_content ul li {
	background-color: #E3E3E3;
	/*color: white;*/
	padding: 5px 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	margin-bottom: 5px;
}
.main_p_logout {
	float: right;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	background-color: #3592DD;
	padding: 5px 10px;
	color: white;
}
/*end left main*/

/*page css*/
#bs_page_container {
	position: relative;
	/*position: absolute;*/
	/*margin-top: 45px;*/
	/*overflow: hidden;*/
	/*height: 100%;*/
	padding-bottom: 60px;
	background-color: #E3E3E3;
}
.bs_one_title {
	margin-left: 10%;
	/*margin-top: 20px;*/
	font-size: 32px;
}
.bs_one_detail {
	margin-left: 12%;
	margin-top: 5px;
	font-size: 12px;
}
.bs_one_top {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 45px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.bs_one_content {
	width: 100%;
	/*padding:10px;*/
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	/*background-color: white;*/
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.3);*/
}
.bs_one_content p {
	width: 90%;
	margin: 0 auto;
}

/*end page css*/

/*log out css*/
#bs_logout_container {
	position: absolute;
	/*margin-top: 45px;*/
	overflow: hidden;
	height: 100%;
	background-color: #E3E3E3;
}
.bs_logout_block {
	position: relative;
	margin: 0 auto;
	margin-top: 70px;
	width: 95%;
	height: 200px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	text-align: center;
	overflow: hidden;
}
.bs_logout_w {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	font-size: 20px;
}
.bs_logout_wtime {
	font-size: 32px;
	font-family: comic sans ms;
}
/*end log out css*/

/*comment css*/
.bs_i_comment {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/*height: 50px;*/
	background-color: rgba(255,255,255,1);
	box-shadow: 0 -1px 3px rgba(0,0,0,0.3);
}
.bs_i_c_input {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 40px;
	/*background-color: blue;*/
	padding-top: 10px;
	overflow: hidden;
}
.bs_i_c_input .bs_i_c_comment {
	/*margin-top: 10px;*/
	width: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #3592DD;
	height: 30px;
	float: left;
	margin-left: 5%;
	/*line-height: 30px;*/
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
}
.bs_i_c_input .bs_i_c_submit {
	border-width: 1px;
	border-style: solid;
	border-color: #3592DD;
	background-color: #3592DD;
	float: left;
	color: white;
	height: 32px;
	margin-left: 10px;
	cursor: pointer;
}
.bs_i_c_input .bs_i_c_up {
	border-width: 1px;
	border-style: solid;
	border-color: #3592DD;
	background-color: #3592DD;
	float: left;
	color: white;
	height: 32px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
}
.bs_i_c_content {
	position: relative;
	width: 100%;
	height: 200px;
	display: none;
}
/*end comment css*/

/* duo shuo comments*/
.duoshuo_comments {
	margin: 0 auto;
	width: 90%;
	margin-top: 60px;
}
/* end duo shuo comments*/

/* my clock */
.bs_clock_dec {
	position: relative;
	width: 100%;
	margin-top: 45px;
	background-color: white;
}
.bs_clock_h1 {
	width: 90%;
	margin: 0 auto;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-style: italic;
}
.bs_clock_block {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	overflow: hidden;
}
.bs_clock_block_title {
	/*background-color: #E3E3E3;*/
}
.bs_clock_block_title p{
	width: 95%;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3592DD;
}
.bs_clock_addblock {
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bs_clock_be {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	color: gray;
	/*opacity: 0.5;*/
}
.bs_clock_activity {
	width: 70%;
}
.bs_clock_begintime {
	width: 50%;
}
.bs_clock_endtime {
	width: 50%;
}
.bs_clock_or {
	margin-left: 5px;
	margin-right: 5px;
	color: gray;
}
.bs_clock_end_checkbox {

}
.bs_clock_always {
	color: gray;
}
.bs_clock_upload {
	margin-top: 20px;
}
/* end my clock 


/*   exam css */
#bs_container_exam {
	margin-top: 45px;
	overflow: hidden;
}
.bs_exam_block {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	overflow: hidden;
}
.bs_exam_block_title {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	overflow: hidden;
}
.bs_exam_block_title p {
	margin-left: 10px;
	opacity: 0.5;
	font-size: 20px;
}
.bs_exam_block_content {
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bs_one_block_ul li {
	padding-top: 2px;
	padding-bottom: 2px;
}
/*.bs_one_block_ul li:hover {
	background-color: #00B7FF;
}*/
.bs_one_block_ul li a{
	display: block;
	text-decoration: none;
	padding: 5px 5px;
}
.bs_one_block_ul li a:hover {
	background-color: #00B7FF;
	color: white;
}
.bs_exam_block_foot {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	overflow: hidden;
}
.bs_exam_block_foot p {
	text-align: right;
	margin-right: 5%;

}
.bs_exam_block_foot p a {
	background-color: #00B7FF;
	color: white;
	text-decoration: none;
	padding: 5px 10px;
}
.bs_exam_block_banner img{
	width: 100%;
}

.edittable {
	width: 100%;
	height: 300px;
}
/*  end exam css*/

/* exam_admin */
.bs_examadmin_container {
	overflow: hidden;
}
.bs_examadmin_block {
	margin-top: 60px;
}
.bs_examadmin_block_content {
	/*text-align: center;*/
	margin-left: 10%;
	margin-top: 50px;
}
.bs_examadmin_block_title {
	/*color: white;
	text-shadow: 0 -1px 0 #123;*/
	opacity: 0.5;
}
.bs_examadmin_block_content input {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* end exam_admin*/

/*exam add page*/
.bs_examadd_container {
	overflow: hidden;
	padding-top: 60px;
}
.bs_examadd_title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 24px;
}
.bs_examadd_block_title label{
	opacity: 0.3;
}
.bs_examadd_block_foot {
	margin-top: 30px;
}
/*.bs_examadd_input {
	width: 50px;
}*/
/*end exam add page

/*examone css*/
#bs_examone_container {
	margin-top: 45px;
	overflow: hidden;
}
.bs_examone_block {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.bs_examone_block_title {
	width: 95%;
	margin-left: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bs_examone_block_title_p1 {
	font-size: 24px;
}
.bs_examone_block_title_span1 {
	font-size: 12px;
	margin-left: 2px;
	margin-right: 10px;
	opacity: 0.5;
	/*background-color: #e3e3e3;*/
}
.bs_examone_block_title_a {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #3592DD;
	color: white;
	text-decoration: none;
	padding: 5px 10px;
}
.bs_examone_block_content {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
/*end examone css*/

/* exam list css*/
#bs_container_list {
	margin-top: 45px;
	overflow: hidden;
}
.bs_list_more {
	margin: 0 auto;
	float: right;
}
/* end exam list css 

/*exam edit css*/
.bs_examedit_container {
	overflow: hidden;
	margin-top: 60px;
}
.bs_examedit_block {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.bs_examedit_block_title {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	overflow: hidden;
}
.bs_examedit_block_title_p1 {
	margin-left: 3%;
	opacity: 0.3;
	font-size: 40px;
}
.bs_examedit_block_content {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.bs_examedit_block_content_table {
	width: 100%;
	border-width: 1px;
	border-color: #e3e3e3;
	border-collapse: collapse;
}
.bs_examedit_block_content_table td {
	border-color: blue;
	border-width: 1px;
	border-style: solid;
}
.bs_examedit_block_content_table tr td {
	border-width: 1px;
	padding: 1%;
	border-style: solid;
	border-color: #e3e3e3;
}
.bs_examedit_block_table_top{
	background-color: #3592DD;
	color: white;
}
.show_color {
	background-color: white;
}
.hide_color {
	background-color: #e3e3e3;
}
.bs_examedit_block_title_a {
	float: right;
}
.bs_examedit_block_title_a_1 {
	float: right;
	margin-right: 5%;
}
.bs_exam_edit_div {
	max-height: 100px;
	max-width: 100%;
	/*max-width: 30%;*/
	overflow-y: scroll;
	/*overflow-x: scroll;*/
}
/*end exam edit css*/

/*plan css*/
#bs_con_clock {
	margin-top: 100px;
	/*overflow: hidden;*/
	margin-bottom: 20px;
}
.bs_clock_content {
	margin: 0 auto;
	width: 90%;
}
.bs_clock_foot {
	margin: 0 auto;
	width: 90%;
}
.bs_plan_block_top {
	position: fixed;
	overflow: hidden;
	top: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0;
	width: 100%;
	background-color: white;
	margin-bottom: 10px;
	z-index: 19;
}
.bs_plan_b {
	float: right;
	margin-right: 10px;
}
.bs_plan_block {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: white;
}
.bs_plan_block_title {
	position: relative;
}
.bs_plan_block_p {
	background-color: #3592dd;
	color: white;
	width: 100px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bs_plan_block_content_show {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.bs_plan_care {
	float: right;
	margin-right: 10%;
	margin-bottom: 5px;
}
.bs_plan_block_content_carelist {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	/*background-color: #e3e3e3;*/
	/*padding: 10px 5px;*/
}
.bs_plan_block_content_carelist a{
	border-radius: 25px;
	float: left;
	background-color: rgb(83, 179, 233);
	margin-right: 5px;
	margin-bottom: 5px;
	color: white;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
}
.bs_plan_block_content_time {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.bs_time_begin,.bs_time_end {
	padding: 5px;
	background-color: #e3e3e3;
	color: black;
	/*width: 100px;*/
	text-align: center;
	font-size: 12px;
	float: left;
}
.bs_plan_block_content_time span {
	float: left;
}
/*end plan css*/

/*user css*/
.bs_user_container {
	overflow: hidden;
	margin-top: 60px;
}
.bs_user_blcok {
	background-color: white;
	margin-bottom: 20px;
	margin-top: 10px;
}
.bs_user_block_title_p {
	margin-left: 5%;
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bs_user_block_content {
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 20px;
}
/*end user css*/